<footer class="footer" role="contentinfo">
    <div class="text-center">
        An Bang, Hoi An, Quang Nam, Vietnam
    </div>
    <div class="text-center" style="margin: 5px 0;">
        <a href="mailto:underthecoconuttree@outlook.com">underthecoconuttree@outlook.com</a>
        <p> | +84 0235 651 6666</p>
    </div>
    <div class="social">
        <a href="https://www.instagram.com/coconuttreehoian/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/UnderTheCoconutTree"><i class="fab fa-facebook-f"></i></a>
    </div>
</footer>