<header class="main-header">
   <div class="fixed-sidebar">
       <div class="sidebar-padding">
           <div class="logo">
              <a href="{{ 'home'|page }}">
                  <img src="/OctoberCms/install-master/storage/app/media/logo-o.jpg"/>
              </a>
           </div>
           <div class="nav" role="navigation">
               <button id="toggle" class="burger" onclick="nav()"><i id="open" class="fas fa-bars"></i><i id="close" style="display:none;" class="closed fas fa-times"></i></button>
               <ul id="ul-id">
                   <li class="menu-item">
                       <a href="{{ 'under-coconut-tree'|page }}">
                         Under the Coconut Tree  
                       </a>
                   </li>
                   <li class="menu-item">
                       <a href="{{ 'gold-coast'|page }}">
                         Gold Coast  
                       </a>
                   </li>
                   <li class="menu-item">
                       <a href="{{ 'lux-villa'|page }}">
                         Lux Villa 
                       </a>
                   </li>  
                  <div class="text-center room-btn">
                    <a href="{{ 'rooms'|page }}" class="button">FIND ROOMS</a>
                  </div> 
                  <div class="text-center donate-nav">
                      <a href="{{ 'donate'|page }}" class="donate border">Our Donation Program</a>
                  </div>
               </ul>
           </div>
          <!-- <div class="booking-widget">
               <form>
                   <div>
                       <label>Check In</label>
                       <br>
                       <input name="check_in_date" type="date" id="today">
                   </div>
                   <div>
                       <label>Nights</label>
                       <br>
                       <input name="number_nights" placeholder="Number Of Nights" type="number" min="1" value="1">
                   </div>
                   <div>
                       <label>Adults</label>
                       <br>
                       <input name="number_of_adults" type="number" valu="1"  max="7" min="1">
                   </div>
                   <button class="button" type="submit">Find Rooms</button>
               </form> -->
       </div>
   </div>
    
</header>